.button,
[type="submit"] {
  display: inline-block;
  min-height: 72px;
  min-width: 270px;
  padding: 20px 50px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(125, 7, 203, 1) 0%, rgba(184, 9, 197, 1) 100%);
  box-shadow: 10px 10px 10px 0px rgba(187, 18, 246, 0.5);
  @include size(font-size, 24, 18);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  color: #ffffff;
  &:hover {
    box-shadow: 0px 0px 10px 6px rgba(187, 18, 246, 0.5);
  }
}
