.banner_section {
    height: 100vh;
    margin-bottom: 150px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    min-height: 800px;
    @include breakpoint(sm-down) {
        height: initial;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        @include size(height, 930, 240);
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.98) 40%, rgba(0, 0, 0, 1) 100%);
        pointer-events: none;
        transform: translateY(60%);
        z-index: -1;
        @include breakpoint(xs) {
            transform: translateY(50%);
        }
    }
    .c1 {
        content: "";
        position: absolute;
        top: -15%;
        left: -40%;
        width: 1912px;
        height: 1912px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/svg/c1.svg");
        z-index: -3;
        @include breakpoint(sm-down) {
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include size(height, 1400, 400);
            @include size(width, 1400, 400);
        }
    }
    .c2 {
        content: "";
        position: absolute;
        bottom: -25%;
        right: 10%;
        width: 1141px;
        height: 1141px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/svg/c2.svg");
        z-index: -2;
        @include breakpoint(sm-down) {
            right: initial;
            bottom: -15%;
            left: -20%;
            @include size(height, 1400, 500);
            @include size(width, 1400, 500);
        }
        @include breakpoint(xs) {
            bottom: -10%;
            left: -40%;
        }
    }
    .c3 {
        content: "";
        position: absolute;
        top: -30%;
        right: -30%;
        width: 1430px;
        height: 1430px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/svg/c3.svg");
        z-index: -2;
        @include breakpoint(sm-down) {
            right: initial;
            top: 50%;
            right: -20%;
            transform: translate(-0%, -50%);
            @include size(height, 1400, 500);
            @include size(width, 1400, 500);
        }
        @include breakpoint(xs) {
            top: 75%;
            right: -40%;
        }
    }
    .rozetka {
        filter: blur(5px);
        position: absolute;
        bottom: 12%;
        right: 43%;
        width: 427px;
        height: 143px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/svg/rozetka.svg");
        z-index: -1;
        @include breakpoint(sm-down) {
            left: 10%;
            bottom: 20%;
        }
        @include breakpoint(xs) {
            width: 200px;
            height: 67px;
            left: 0%;
        }
    }
    .olx {
        filter: blur(5px);
        position: absolute;
        top: 30%;
        right: 3%;
        width: 203px;
        height: 135px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/svg/olx.svg");
        z-index: -1;
        @include breakpoint(sm-down) {
            top: 50%;
            right: 10%;
            transform: translate(-0%, -50%);
        }
        @include breakpoint(xs) {
            width: 95px;
            height: 63px;
            top: 70%;
            right: 0;
        }
    }
    .main {
        position: absolute;
        bottom: 0;
        right: 10%;
        width: 203px;
        height: 135px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/main.png");
        width: 770px;
        height: 860px;
        z-index: -1;
        @media (max-width: 1600px) {
            width: 705px;
            height: 807px;
        }
        @media (max-width: 1370px) {
            width: 635px;
            height: 725px;
        }
        @include breakpoint(md-down) {
            width: 570px;
            height: 650px;
        }
        @include breakpoint(sm-down) {
            right: 50%;
            transform: translateX(50%);
        }
        @include breakpoint(xs) {
            width: 345px;
            height: 400px;
        }
        @media (max-width: 345px) {
            width: 320px;
        }
    }
    .link {
        z-index: 9;
        position: absolute;
        bottom: 6%;
        right: 23%;
        transform: translateX(50%);
        color: #ffffff;
        cursor: pointer;
        transition: 0.4s;
        display: flex;
        flex-direction: column;
        @include size(font-size, 36, 24);
        padding: 20px 40px 20px 100px;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        width: max-content;
        @media (max-width: 1500px) {
            right: 33%;
        }
        @include breakpoint(xs) {
            right: 50%;
            font-size: 20px;
            bottom: 0;
            padding: 15px 20px 15px 90px;
        }
        @include breakpoint(sxs) {
            max-width: 300px;
        }
        &::after {
            content: "";
            position: absolute;
            left: 30px;
            top: 25px;
            width: 48px;
            height: 48px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("../img/svg/yt.svg");
            @include breakpoint(xs) {
                top: 15px;
                width: 40px;
                height: 40px;
            }
        }
        span {
            margin-top: 10px;
            font-size: 18px;
        }
        &:hover {
            color: $color_1;
        }
    }
    @include breakpoint(xs) {
        margin-bottom: 75px;
    }
    .banner_content {
        padding-top: 140px;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        position: relative;
        @include breakpoint(sm-down) {
            height: initial;
            padding-bottom: 650px;
        }
        @include breakpoint(xs) {
            padding-bottom: 400px;
            padding-top: 90px;
        }
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            @include breakpoint(sm-down) {
                height: initial;
                justify-content: center;
            }
        }
    }
    .text_section {
        @include size(margin-bottom, 120, 60);
        .h1.title {
            text-transform: uppercase;
            font-weight: 900;
            span {
                text-shadow: 3px 5px $color_3;
            }
            @media (max-width: 1600px) {
                font-size: 72px;
            }
            @media (max-width: 1370px) {
                font-size: 60px;
            }
            @include breakpoint(md-down) {
                font-size: 48px;
            }
        }
        .subtitle {
            @include size(font-size, 36, 20);
            @include size(margin-bottom, 60, 30);
            @media (max-width: 1370px) {
                font-size: 24px;
            }
        }
        .info-wrap {
            display: flex;
            padding: 20px 30px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.1);
            width: max-content;
            @include size(margin-bottom, 60, 30);
            font-size: 18px;
            @include breakpoint(xs) {
                display: none;
            }
            .info_item {
                display: flex;
                flex-direction: column;
                & + .info_item {
                    margin-left: 15px;
                    padding-left: 15px;
                    border-left: 1px solid #ffffff;
                }
                .info_title {
                    font-weight: 500;
                    color: $color_1;
                    margin-bottom: 10px;
                }
            }
        }
        .button {
            width: max-content;
            @include breakpoint(sm-down) {
                margin: 0 auto;
            }
        }
    }
}
