.footer {
    background-color: #171717;
    padding: 20px;
    .footer_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(sm-down) {
            flex-direction: column;
        }
        .link {
            margin: 0 35px;
            @include size(font-size, 18, 14);
            color: #707070;
            transition: 0.4s;
            @include breakpoint(sm-down) {
                margin: 0 0 15px;
                &:last-of-type {
                    margin: 0;
                }
            }
            &:hover {
                color: $color_1;
            }
        }
    }
}
