
html(lang="ru") 
include ./components/head.pug
  
body
    include ./components/header.pug
    .wrapper
        include ./section/banner_section.pug
        include ./section/video_section.pug
        include ./section/course-for_section.pug
        include ./section/static_section.pug
        include ./section/course_section.pug
        include ./section/education_section.pug
        include ./section/additionally_section.pug
        include ./section/result_section.pug
        include ./section/reviews_section.pug
        include ./section/author_section.pug
        include ./section/fqa_section.pug
        include ./section/help_section.pug              
    include ./components/footer.pug

include ./components/bottom.pug 
           
    



