.additionally_section
    .container
        .h2.deco-line_title Дополнительные уроки
        .module_wrap 
            .row
                .title Как построить отдел продаж в товарке
                .price-button_section
                    .price
                        .price_old 2200 грн
                        .price_now 990 грн.
                    a.button(href='#modal') Оставить заявку
            ul.list
                li.item Знакомство
                li.item Программа всего курса
                li.item Что нужно для покупки интернет-магазина. Какой выбрать пакет
                li.item Поиск поставщиков. Дропшиппинг или свой склад
                li.item Основные настройки интернет-магазина
                li.item Важные фишки которые влияют на заказы
                li.item Стратегия развития товарного бизнеса
                li.item Как найти тот товар, который покупают у наших конкурентов
                li.item Как спасти магазин, который перестал приносить заказы
                li.item Виды маржинальности товара
                li.item Как всегда рости в заказах с учетом сезонности

        .module_wrap
            .row
                .title Курс "Как успешно продавать на Rozetka.ua"
                .price-button_section
                    .price
                        .price_old 4000 грн
                        .price_now 1990 грн.
                    a.button(href='#modal') Оставить заявку
            ul.list
                li.item Профессиональное добавление карточек товара 
                li.item Как добиться ТОП выдачи вкаталоге
                li.item Как обойти любого конкурента
                li.item Что влияет напринятие решения совершить покупку
                li.item Как создать продающий контент
                li.item Как обходить схлопывание карточек товара

        .module_wrap
            .row
                .title YouTube для начинающих
                .price-button_section
                    .price
                        .price_old 1800 грн
                        .price_now 890 грн.
                    a.button(href='#modal') Оставить заявку
            ul.list
                li.item Проверим заполнение карточек товара каждого ученика
                li.item Визуальное оформление интернет-магазина
                li.item Настройка рекламной компании CPC, CPA
                li.item Как создать дубликат интернет-магазина
                li.item Как обходить схлопывание интернет магазинов
                li.item Какая ставка рекламной компании увеличит Ваши заказы