.author_section.section
    .anchor#link-7
    .container
        .row
            .img_item
                .img_wrap.object-fit
                    img(src="img/author.png", alt="author")   
                a.link.instagram(target='_blank' href='https://www.instagram.com/shtabura_aleksandr') Александр Штабура
            .text_section
                .h2 Автор курса
                ul.list
                    li.item Более 8 лет успешной работы на Prom.ua
                    li.item Владелец 10 интернет магазинов на площадке Prom.ua
                    li.item Неоднократно выступал на конференциях от Prom.ua в качестве одного из лидеров продаж
                    li.item Владелец 2-х магазинов на маркетплейсе Rozetka.ua
                    li.item Основатель компании "БИЗНЕС ПРОРЫВ"
                    li.item Youtube Блогер. Канал "БИЗНЕС ПРОРЫВ"
                    li.item Обучил более 350 учеников
                    li.item На текущий момент создал 18 источников дохода и не собираюсь останавливаться
            