.banner_section#link-1
    .c1
    .c2
    .c3
    .rozetka
    .olx
    .banner_content
        .main
            .a.link(href='https://www.youtube.com/channel/UCjVP-kKduX1P58V5LYjTnuA') Александр Штабура
                span Владелец 12 интернет-магазинов
        .container
            .text_section
                .h1.title Курс по <span>Prom.ua 2.0</span>
                .subtitle Запусти за 1 месяц свой товарный бизнес на<br> Prom.ua и Rozetka.ua с доходом от 1000$
                .info-wrap
                    .info_item
                        .info_title Срок обучения
                        .info_text 1 мес
                    .info_item
                        .info_title Формат
                        .info_text Онлайн / Офлайн
                    .info_item
                        .info_title Все прошло курс
                        .info_text > 350 учеников
                .button Подобрать программу