.course-for_section
    .container
        .h2 Мы сделали этот курс для
        .row
            .item
                .card_1
                    .title_row
                        .title Новичков
                        .icon.m1
                    .text Точка А: Вы знаете, что на Prom и Rozetka можно зарабатывать, но не понимаете, КАК.
                .card_2
                    .title результат
                    .text Вы разложили информацию по полочкам у себя в голове по запуску на маркетплейсе. Во время курса вы запустили свой первый интернет-магазин. Теперь вы занимаетесь любимым делом с доходом от $1000 в месяц, и сами выбираете, с кем работать.
                    
            .item
                .card_1
                    .title_row
                        .title Владельцев   интернет-магазинов
                        .icon.m2
                    .text Точка А: У вас уже есть интернет-магазин на маркеплейсе, но у вас нет результата или уперлись в потолок в заказах. Вы хотите разобраться, как всё работает, чтобы увеличить количество продаж.
                .card_2
                    .title результат
                    .text Вы получили актуальные практические знания и навыки, которые можете сразу использовать в работе. Пробили потолок в количестве заказов и освоили новые плодащки.
                    