.course_section.section
    .anchor#link-2
    .container
        .h2.deco-line_title Программа курса
        .title_module.module_1 Модуль 1
        .module_wrap 
            ul.list
                li.item Знакомство
                li.item Программа всего курса
                li.item Что нужно для покупки интернет-магазина. Какой выбрать пакет
                li.item Поиск поставщиков. Дропшиппинг или свой склад
                li.item Основные настройки интернет-магазина
                li.item Важные фишки которые влияют на заказы
                li.item Стратегия развития товарного бизнеса
                li.item Как найти тот товар, который покупают у наших конкурентов
                li.item Как спасти магазин, который перестал приносить заказы
                li.item Виды маржинальности товара
                li.item Как всегда рости в заказах с учетом сезонности

        .title_module.module_2 Модуль 2
        .module_wrap
            ul.list
                li.item Профессиональное добавление карточек товара 
                li.item Как добиться ТОП выдачи вкаталоге
                li.item Как обойти любого конкурента
                li.item Что влияет напринятие решения совершить покупку
                li.item Как создать продающий контент
                li.item Как обходить схлопывание карточек товара

        .title_module.module_3 Модуль 3
        .module_wrap 
            ul.list
                li.item Проверим заполнение карточек товара каждого ученика
                li.item Визуальное оформление интернет-магазина
                li.item Настройка рекламной компании CPC, CPA
                li.item Как создать дубликат интернет-магазина
                li.item Как обходить схлопывание интернет магазинов
                li.item Какая ставка рекламной компании увеличит Ваши заказы

        .title_module.module_4 Модуль 4
        .module_wrap 
            ul.list
                li.item Работаем с Аналитикой сайта
                li.item Разбираем все фишки при работе с рекламой и тем, как обходить конкурентов
                li.item Учимся реанимировать интернет-магазин и увеличивать продажи
                li.item Подводим итоги всех пройденных занятий
                li.item Обратная связь по пройденному курсу от каждого участника
                li.item Как увеличить рейтинг СРА. Все способы
                li.item Вы узнаете про все методы работы с рекламной компанией, которые используют лучшие продавцы Prom.ua
                li.item Я расскажу как увеличить заказы 3 раза в новом интернет магазине
                li.item Подводим итоги всех пройденных занятий.
                li.item Обратная связь по пройденному курсу от каждого участника.