.education_section.section
    .anchor#link-3
    .container
        .h2.deco-line_title Выбери свой формат обучение
        .table_desktop
            .table_wrap
                .row.row_header
                    .column
                    .column Самообучение <br> (Видео курс)   
                    .column Спецгруппа <br> до 8 человек
                    .column Индивидуальные <br> занятия 
                .row
                    .column.deco.deco_1 Доступ к материалам курса
                    .column 1 год 
                    .column 1,5 года
                    .column 2 года
                .row
                    .column.deco.deco_2 Доступ к закрытой группе
                    .column безлимитный 
                    .column безлимитный
                    .column безлимитный
                .row
                    .column.deco.deco_3 Скидка на дополнительные услуги
                    .column 
                        .yes 
                    .column 
                        .yes
                    .column 
                        .yes
                .row
                    .column.deco.deco_4 Блок по ОЛХ
                    .column 
                        .yes 
                    .column 
                        .yes
                    .column 
                        .yes
                .row
                    .column.deco.deco_4 Блок "Отдел продаж в товарке"
                    .column 
                        .yes 
                    .column 
                        .yes
                    .column 
                        .yes
                .row
                    .column.deco.deco_4 Блок "Работа с Pricecreator на розетке"
                    .column 
                        .yes 
                    .column 
                        .yes
                    .column 
                        .yes
                .row
                    .column.deco.deco_5 Онлайн обучение через ZOOM
                    .column 
                        .no 
                    .column 
                        .yes
                    .column 
                        .yes
                .row
                    .column.deco.deco_6 Личная работа с Александром
                    .column 
                        .no 
                    .column 
                        .no
                    .column 
                        .yes
                .row
                    .column.deco.deco_7 База поставщиков с 7 км
                    .column 
                        .no 
                    .column 
                        .no
                    .column 
                        .yes
                .row
                    .column.deco.deco_7 База поставщиков по дропшипингу
                    .column 
                        .no
                    .column 
                        .no
                    .column 
                        .yes
                .row
                    .column.deco.deco_4 Блок "Как продавать на Rozetka.ua"
                    .column 
                        .no 
                    .column 
                        .no
                    .column 
                        .yes
                .row.info_row
                    .column
                    .column
                        .title Разовый платеж
                        .price 6900 грн.
                        a.button.modal(href='#modal') Оставить заявку
                    .column
                        .title Разовый платеж
                        .price 8900 грн.
                        a.button.modal(href='#modal') Оставить заявку
                    .column
                        .title Разовый платеж
                        .price 24 990 грн.
                        a.button.modal(href='#modal') Оставить заявку
        .table_mobile.swiper
            .swiper-button-arrow
                .swiper-button-prev
                .swiper-button-next
            .swiper-wrapper
                .table_wrap.swiper-slide
                    .row.row_header
                        .column Самообучение <br> (Видео курс)   
                    .row
                        .column.deco.deco_1 Доступ к материалам курса
                        .column 1 год 
                    .row
                        .column.deco.deco_2 Доступ к закрытой группе
                        .column безлимитный 
                    .row
                        .column.deco.deco_3 Скидка на дополнительные услуги
                        .column 
                            .yes 
                    .row
                        .column.deco.deco_4 Блок по ОЛХ
                        .column 
                            .yes 
                    .row
                        .column.deco.deco_4 Блок "Отдел продаж в товарке"
                        .column 
                            .yes 
                    .row
                        .column.deco.deco_4 Блок "Работа с Pricecreator на розетке"
                        .column 
                            .yes 
                    .row
                        .column.deco.deco_5 Онлайн обучение через ZOOM
                        .column 
                            .no 
                    .row
                        .column.deco.deco_6 Личная работа с Александром
                        .column 
                            .no 
                    .row
                        .column.deco.deco_7 База поставщиков с 7 км
                        .column 
                            .no 
                    .row
                        .column.deco.deco_7 База поставщиков по дропшипингу
                        .column 
                            .no
                    .row
                        .column.deco.deco_4 Блок "Как продавать на Rozetka.ua"
                        .column 
                            .no 
                    .row.info_row
                        .column
                            .title Разовый платеж
                            .price 6900 грн.
                            a.button.modal(href='#modal') Оставить заявку
            
                .table_wrap.swiper-slide
                    .row.row_header
                        .column Спецгруппа <br> до 8 человек
                    .row
                        .column.deco.deco_1 Доступ к материалам курса
                        .column 1,5 года
                    .row
                        .column.deco.deco_2 Доступ к закрытой группе
                        .column безлимитный
                    .row
                        .column.deco.deco_3 Скидка на дополнительные услуги
                        .column 
                            .yes
                    .row
                        .column.deco.deco_4 Блок по ОЛХ
                        .column 
                            .yes
                    .row
                        .column.deco.deco_4 Блок "Отдел продаж в товарке"
                        .column 
                            .yes
                    .row
                        .column.deco.deco_4 Блок "Работа с Pricecreator на розетке"
                        .column 
                            .yes
                    .row
                        .column.deco.deco_5 Онлайн обучение через ZOOM
                        .column 
                            .yes
                    .row
                        .column.deco.deco_6 Личная работа с Александром
                        .column 
                            .no
                    .row
                        .column.deco.deco_7 База поставщиков с 7 км
                        .column 
                            .no
                    .row
                        .column.deco.deco_7 База поставщиков по дропшипингу
                        .column 
                            .no
                    .row
                        .column.deco.deco_4 Блок "Как продавать на Rozetka.ua"
                        .column 
                            .no
                    .row.info_row
                        .column
                            .title Разовый платеж
                            .price 8900 грн.
                            a.button.modal(href='#modal') Оставить заявку
            
                .table_wrap.swiper-slide
                    .row.row_header
                        .column Индивидуальные <br> занятия 
                    .row
                        .column.deco.deco_1 Доступ к материалам курса
                        .column 2 года
                    .row
                        .column.deco.deco_2 Доступ к закрытой группе
                        .column безлимитный
                    .row
                        .column.deco.deco_3 Скидка на дополнительные услуги
                        .column 
                            .yes
                    .row
                        .column.deco.deco_4 Блок по ОЛХ
                        .column 
                            .yes
                    .row
                        .column.deco.deco_4 Блок "Отдел продаж в товарке"
                        .column 
                            .yes
                    .row
                        .column.deco.deco_4 Блок "Работа с Pricecreator на розетке"
                        .column 
                            .yes
                    .row
                        .column.deco.deco_5 Онлайн обучение через ZOOM
                        .column 
                            .yes
                    .row
                        .column.deco.deco_6 Личная работа с Александром
                        .column 
                            .yes
                    .row
                        .column.deco.deco_7 База поставщиков с 7 км
                        .column 
                            .yes
                    .row
                        .column.deco.deco_7 База поставщиков по дропшипингу
                        .column 
                            .yes
                    .row
                        .column.deco.deco_4 Блок "Как продавать на Rozetka.ua"
                        .column 
                            .yes
                    .row.info_row
                        .column
                            .title Разовый платеж
                            .price 24 990 грн.
                            a.button.modal(href='#modal') Оставить заявку
                        