form.form_modal#modal
    .title Забронировать
    .input-wrap
        input(type='text' placeholder='Имя' name='name')
    .input-wrap.phone
        input(type='text' placeholder='+380 (99) 999-99-99' name='phone')
    input(type="submit", value = 'Оставить заявку')