.fqa_section
    .container
        .h2.deco-line_title Остались вопросы?
        .subtitle Мы ответили на несколько самых популярных ниже:
        .row
            .questio_wrap
                .question Что произойдет после оплаты?
                .btn-toggle
            .answer Можно задавать свои вопросы лично Олегу на специальных сессиях вопрос-ответ. Есть общий чат в телеграмме, где можно получать ответы на вопросы. Также вы можете писать свои вопросы Олегу в личные сообщения.
        .row
            .questio_wrap
                .question Что произойдет после оплаты?
                .btn-toggle
            .answer Можно задавать свои вопросы лично Олегу на специальных сессиях вопрос-ответ. Есть общий чат в телеграмме, где можно получать ответы на вопросы. Также вы можете писать свои вопросы Олегу в личные сообщения.
        .row
            .questio_wrap
                .question Что произойдет после оплаты?
                .btn-toggle
            .answer Можно задавать свои вопросы лично Олегу на специальных сессиях вопрос-ответ. Есть общий чат в телеграмме, где можно получать ответы на вопросы. Также вы можете писать свои вопросы Олегу в личные сообщения.
        .row
            .questio_wrap
                .question Что произойдет после оплаты?
                .btn-toggle
            .answer Можно задавать свои вопросы лично Олегу на специальных сессиях вопрос-ответ. Есть общий чат в телеграмме, где можно получать ответы на вопросы. Также вы можете писать свои вопросы Олегу в личные сообщения.
        .row
            .questio_wrap
                .question Что произойдет после оплаты?
                .btn-toggle
            .answer Можно задавать свои вопросы лично Олегу на специальных сессиях вопрос-ответ. Есть общий чат в телеграмме, где можно получать ответы на вопросы. Также вы можете писать свои вопросы Олегу в личные сообщения.
        .row
            .questio_wrap
                .question Что произойдет после оплаты?
                .btn-toggle
            .answer Можно задавать свои вопросы лично Олегу на специальных сессиях вопрос-ответ. Есть общий чат в телеграмме, где можно получать ответы на вопросы. Также вы можете писать свои вопросы Олегу в личные сообщения.