.help_section
    .container
        .h2 Я немного в растерянности, мне нужна помощь
        .subtitle Оставьте свои контакты, и мы свяжемся с вами, чтобы ответить на все вопросы.
        form.form-wrap
            .input-wrap
                input(type='text' placeholder='Имя' name='name')
            .input-wrap
                input(type='text' placeholder='+380 (99) 999-99-99' name='phone')
            input(type="submit", value = 'Помогите мне с выбором')
        