.result_section.section
    .btn-anchor#link-video
    .container
        .h2.deco-line_title Результаты наших студентов
        .row
            a.video_block(href="https://www.youtube.com/watch?v=D1u28ZlBo3w&list=PL-7K4cU7VR56hFlhsI2eyp9E7JgWImcMA&index=10?autoplay=1")
                .img_wrap.object-fit
                    img(src="img/result-1.jpg" alt="img")
            a.video_block(href="https://www.youtube.com/watch?v=ALGte9lx2CE&list=PL-7K4cU7VR56hFlhsI2eyp9E7JgWImcMA&index=3?autoplay=1")
                .img_wrap.object-fit
                    img(src="img/result-2.jpg" alt="img")
            a.video_block(href="https://www.youtube.com/watch?v=HZquOZR1_0Q&list=PL-7K4cU7VR56hFlhsI2eyp9E7JgWImcMA&index=2?autoplay=1")
                .img_wrap.object-fit
                    img(src="img/result-3.jpg" alt="img")
            a.video_block(href="https://www.youtube.com/watch?v=ALGte9lx2CE&list=PL-7K4cU7VR56hFlhsI2eyp9E7JgWImcMA&index=6?autoplay=1")
                .img_wrap.object-fit
                    img(src="img/result-4.jpg" alt="img")
        
    