.reviews_section.section
    .anchor#link-4
    .container
        .h2.deco-line_title Результаты наших студентов
        .reviews.swiper
            .swiper-wrapper
                .review.swiper-slide
                    .img_wrap.object-fit
                        img(src="img/review.jpg" alt='img')
                .review.swiper-slide
                    .img_wrap.object-fit
                        img(src="img/review.jpg" alt='img')
                .review.swiper-slide
                    .img_wrap.object-fit
                        img(src="img/review.jpg" alt='img')
                .review.swiper-slide
                    .img_wrap.object-fit
                        img(src="img/review.jpg" alt='img')
                .review.swiper-slide
                    .img_wrap.object-fit
                        img(src="img/review.jpg" alt='img')
                .review.swiper-slide
                    .img_wrap.object-fit
                        img(src="img/review.jpg" alt='img')
                .review.swiper-slide
                    .img_wrap.object-fit
                        img(src="img/review.jpg" alt='img')
            .swiper-scrollbar
                

        
    