.static_section
    .container
        .h2 Вы не первые на этом пути
        .row
            .card
                .number 350+
                .text студентов уже прошли курс
            .card
                .number 63%
                .text удвоили свои результаты
            .card
                .number 18 лет
                .text самому младшему ученику
            .card
                .number 3500$
                .text максимально заработал студент после обучнеие
            .card
                .number 87%
                .text окупили стоимость обучения сразу после курса
            .card
                .number 55 лет
                .text самому старшему
        a.button.btn_anchor(href='#link-video') Узнать, чего достигли выпустники
        