.video_section
    .container
        .h2 Презентация курса за 3 мин
        a.video_block(href="https://www.youtube.com/watch?v=GC7SZ4fMLQM?autoplay=1")
            .img_wrap.object-fit
                img(src="img/video.jpg" alt="img")
        