header.header
    .container
        .btn-open
            span
        ul.menu_desktop
            li.menu_item
                a.menu_link.link-1.active(href="#link-1") Практический онлайн-курс
            li.menu_item
                a.menu_link.link-2(href="#link-2") Программа обучения
            li.menu_item
                a.menu_link.link-3(href="#link-4") Стоимость
            li.menu_item
                a.menu_link.link-4(href="#link-6") Отзывы
            li.menu_item
                a.menu_link.link-5(href="#link-3") Хочу на обучение 
        ul.menu_mobile
            li.menu_item
                a.menu_link.link-1.active(href="#link-1") Презентация курса
            li.menu_item
                a.menu_link.link-2(href="#link-2") Программа курса
            li.menu_item
                a.menu_link.link-3(href="#link-3") Форматы курса
            li.menu_item
                a.menu_link.link-4(href="#link-4") Дополнительные уроки
            li.menu_item
                a.menu_link.link-5(href="#link-5") Результаты студентов 
            li.menu_item
                a.menu_link.link-4(href="#link-6") Отзывы
            li.menu_item
                a.menu_link.link-5(href="#link-7") Автор курса 
            li.menu_item
                a.menu_link.link-5(href="#link-8") Частые вопросы
            span.btn-close



