header.header
    .container
        .btn-open
            span
        ul.menu
            li.menu_item
                a.menu_link.link-1.active(href="#link-1") Практический онлайн-курс
            li.menu_item
                a.menu_link.link-2(href="#link-2") Программа обучения
            li.menu_item
                a.menu_link.link-3(href="#link-3") Стоимость
            li.menu_item
                a.menu_link.link-4(href="#link-4") Отзывы
            li.menu_item
                a.menu_link.link-5(href="#link-5") Хочу на обучение
            span.btn-close



